@import "variables";
@import "clases";

/*Desktop*/

@media (min-width: 1025px) {

    body {

        h2 {
            font-size: 2.5rem;
        }


        h1 {
            font-size: 4.5rem;
            margin-top: 5%;
        }
    }

    form {
        width: 100vh;
    }
}

/*Tablet*/
@media (min-width: 577px) and (max-width: 1024px) {

    body {

        h2 {
            font-size: 2rem;
        }


        h1 {
            font-size: 2.8rem;
            margin-top: 10%;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    article {

        img {
            display: flex;
            height: 294px;
            width: 294px;
            padding: 5%;
            margin: 3%;
        }
    }

    main {

        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin: 1%;

        img {
            margin: 2%;
            padding: 1%;
            background-image: linear-gradient(#FEE3EC, #FFC4D0);
            border-radius: 15px;
            height: 245px;
            width: 245px;
        }

        section {
            display: flex;
            flex-wrap: wrap;
        }
    }


    form {
        display: flex;
        margin: 40px;
        padding: 25px;
        justify-self: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 70vh;
    }

    .logo {
        display: flex;
        justify-items: center;
        margin: 5%;
        width: 120px;
        height: 119px;
    }

    .nombrePagina {
        font-family: "Roboto-light";
        display: flex;
        flex-wrap: wrap;
        margin: 12%;
        justify-self: center;
        align-items: center;
        writing-mode: vertical-lr;
    }

    .carrusel {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-self: center;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 60%;
    }


    .recetasImagenes {
        @include tamaño (390px, 210px)
    }

}



/*Movil*/

@media (min-width: 0px) and (max-width: 576px) {


    body {

        display: flex;
        width: 100%;
        height: 100vh;

        h2 {
            font-size: 2rem;
            margin: 10%;
        }

        h1 {
            font-size: 2.5rem;
            align-items: center;
            margin-top: 20%;
        }

    }

    article {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #F7DDDE;

        img {
            display: flex;
            width: 252px;
            height: 252px;
            padding: 5%;
            margin: 3%;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: auto;

    }


    .nombrePagina {
        font-family: "Roboto-light";
        display: flex;
        flex-wrap: wrap;
        margin: 12%;
        justify-self: center;
        align-items: center;
        writing-mode: vertical-lr;

    }


    .logo {
        display: flex;
        justify-items: center;
        margin: 5%;
        width: 100px;
        height: 99px;
    }

    main {

        img {
            margin: 2%;
            padding: 1%;
            background-image: linear-gradient(#FEE3EC, #FFC4D0);
            border-radius: 15px;
            height: 210px;
            width: 210px;
        }
    }

    form {
        display: flex;
        margin: 40px;
        padding: 25px;
        justify-self: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 55vh;
    }

    .carrusel {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-self: center;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 65%;
    }

    .recetasImagenes {
        @include tamaño (325px, 175px)
    }
    
    
    .preguntas {
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}